.card-white {
  background-color: white;
  padding: 12px;
  margin: 24px 15px;
  box-shadow: 0 12px 30px rgba(134, 84, 57, 0.5);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-basis: 240px;
  flex-grow: 1;
  margin-right: 12px;
}

#card-presentation{
  background-color: white;
  padding: 12px;
  margin: 24px 15px;
  box-shadow: 0 12px 30px rgba(134, 84, 57, 0.5);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-basis: 240px;
  flex-grow: 1;
  margin-right: 12px;
}

.img-card {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
}

.card-white p {
  font-size: 24px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.card-content p {
  font-size: 24px;
  margin: 12px;
}

/*Media Query*/

@media(max-width: 500px) {
  .card-white {
    margin: 12px;
  }

  .img-card {
    width: 96px;
    height: 96px;
    border-radius: 4px;
  }

  .card-white p {
  font-size: 18px;
  }

  .card-content p {
  margin: 4px;
}

}
