.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

/*Media query*/

@media(max-width: 700px) {
  .container {
    width: 520px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 320px;
  }
}
